<h1 class="mt-4">Lista de Pessoas</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="messageSuccess">
        {{ messageSuccess }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="messageError">
          {{ messageError }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click) = "newPeople()">
        <i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let people of peoples">
            <td>{{ people.id }}</td>
            <td>{{ people.name }}</td>
            <td>{{ people.cpf }}</td>
            <td>{{ people.dateBirth }}</td>
            <td>
              <button class="btn btn-primary"
                routerLink="/peoples-form/{{ people.id }}" >
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger" (click) = "preparedDelete(people)"
                data-toggle="modal" data-target="#modalDelecao">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div  class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf ="selectedPeople">
          Confirma a deleção do(a) Pessoa {{ selectedPeople.name }}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click) = "deletePeople()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
