<h1 class="mt-4">Cadastrar Contato</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Contato salvo com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
            {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Cliente: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="contact.idPeople">
            <option value="">Selecione...</option>
            <option *ngFor="let people of peoples"
                    [ngValue]="people.id">
                {{ people.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Nome: </label>
          <input class="form-control"
                 [(ngModel)]="contact.name" type="text"
                 name="name" id="inputName"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Telefone:</label>
          <input class="form-control"
                 [(ngModel)]="contact.phone" type="text"
                 name="phone" id="inputPhone"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control"
                 [(ngModel)]="contact.email" type="text"
                 name="email" id="inputEmail"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i>
          Salvar</button>
      </div>
    </div>

  </form>
</div>
